__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.env
.env.*
.venv/
.venv-1/
venv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

admin/

node_modules/
dist/
build/

.idea/
.vscode/

media/chat_voice/
media/community_posts/
media/community_profiles/avatars/
media/community_profiles/covers/
media/test_delete_both/
credentials/firebase-admin.json
